# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\box\mybatis-pageable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
